<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body id="page-top">

<!-- Navigation-->
<th:block th:replace="fragments/menu"></th:block>

<!-- Page Content-->
<div class="container-fluid p-0">

  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">

      <form role="form" action="" name="joinmember" th:object="${memberForm}" method="post" onsubmit=" return validationCheck()">
        <div>
          <label for="username">아이디:</label>
          <input type="text" id="username" th:field="*{name}" required>
        </div>
        <div>
          <label for="password">비밀번호:</label>
          <input type="password" id="password" th:field="*{password}" required>
        </div>
        <div>
          <button type="submit">회원가입</button>
        </div>
      </form>

    </div>
  </section>


</div>

<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"></th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">
  // form 태그
  let form = document.joinmember;


  // 유효성 검사
  function validationCheck(){
    alert("!");

    form.action = "/members/new";

    return true;
  }

</script>