<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body id="page-top">

<!-- Navigation-->
<th:block th:replace="fragments/menu"></th:block>

<!-- Page Content-->
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <!-- 게시글 양식 -->
                <div class="mb-5"><h3>게시글 제목</h3>
                    <div>
                        <input type="text" name="title" maxlength="50" th:value="${board.getTitle()}" readonly/>
                    </div>
                </div>

                <div class="mb-5"> <h3>게시글 내용</h3>
                    <div>
                        <input type="text" name="content" maxlength="50" th:value="${board.getContent()}" readonly/>
                    </div>
                </div>
            <!-- 댓글 작성 -->
            <form id="comment-form" method="post" th:if="${#strings.equals(board.memberid,session.user?.id)}">
                <input type="hidden" name="boardid" th:value="${board.id}">
                <input type="hidden" name="memberid" th:value="|${session?.user.id}|">
                <textarea name="comment" rows="5"></textarea>
                <button type="submit">댓글 작성</button>
            </form>

            <!-- 댓글 목록 -->
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <ul id="comment-list">
                    <li th:each="comment : ${comments}">
                        <p th:text="${comment.content}"></p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</div>

<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"><</th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">
    function submitComment(event) {
        event.preventDefault(); // 기본 동작 중단

        const form = document.getElementById("comment-form");
        const formData = new FormData(form);

        $.ajax({
            url: "/comments",
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (html) {
                // 댓글 목록 업데이트
                const commentList = document.getElementById("comment-list");
                commentList.innerHTML = html;

                // 작성 완료 메시지 표시
                alert("댓글이 작성되었습니다.");
            },
            error: function () {
                alert("댓글 작성에 실패했습니다.");
            }
        });
    }


</script>