<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body id="page-top">

<!-- Navigation-->
<th:block th:replace="fragments/menu"></th:block>

<!-- Page Content-->
<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <!-- 게시글 양식 -->
            <div class="mb-5"><h3>게시글 제목</h3>
                <div>
                    <input type="text" name="title" maxlength="50" th:value="${board.getTitle()}" readonly/>
                </div>
            </div>

            <div class="mb-5"> <h3>게시글 내용</h3>
                <div>
                    <input type="text" name="content" maxlength="50" th:value="${board.getContent()}" readonly/>
                </div>
            </div>

            <!-- 게시글 추천 -->
            <div class="mb-5"> <h3>추천수</h3>
                <div>
                    <h4 th:text="${board.likes}" class="mb-0"></h4>
                    <button type="button" onclick="recommendBoard();" th:if="${session.user != null}">게시글 추천</button>
                </div>
            </div>

            <!-- 댓글 작성 -->
            <form th:if="${session.user?.id}">
                <input type="hidden" id="boardid" th:value="${board.id}">
                <input type="hidden" id="memberid" th:value="|${session?.user.id}|">
                <input type="hidden" id="name" th:value="|${session?.user.name}|">
                <textarea id="comment" rows="5"></textarea>
                <button type="button" onclick="submitComment();">댓글 작성</button>
            </form>

            <!-- 댓글 목록 -->
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <ul id="comment-list">
                    <li th:each="comment : ${comments}">
                        <p th:text="${comment.name + ' : ' + comment.content}"></p>
                        <p th:text="'추천수 : ' + ${comment.likes}"></p>
                        <button th:if="${session.user != null}" class="text-primary" type="button" th:onclick="recommendComment([[${comment.id}]])">댓글추천</button>
                        <button th:if="${#strings.equals(comment.memberid,session.user?.id)}" class="text-primary" type="button" th:onclick="deleteComment([[${comment.id}]])">삭제</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<!-- common/js -->

<th:block th:replace="common/js :: jsFragment"><</th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">
    function submitComment() {

        let boardid = $("#boardid").val();
        let memberid = $("#memberid").val();
        let name = $("#name").val();
        let comment = $("#comment").val();

        $.ajax({
            url: "/comments",
            method: "POST",
            contentType: 'application/json',
            data: JSON.stringify({
                board_id : boardid,
                memberid : memberid,
                name : name,
                content : comment
            }),
            success: function (response) {

                // 작성 완료 메시지 표시
                alert("댓글이 작성되었습니다.");

                let commentList = $('#comment-list');

                commentList.empty();

                for (let i = 0; i < response.length; i++) {
                    let comment = response[i];

                    let html = '<li>';
                    html += '<p>' + comment.name + ' : ' + comment.content + '</p>';
                    html += '<p>' + '추천수 : ' + comment.likes + '</p>';

                    // 댓글 게시자 아이디와 로그인한 유저 아이디 비교 로직
                    let commentId = String(comment.memberid);
                    let sessionId = String([[${session.user?.id}]]);

                    if(sessionId!=null){
                        html += '<button class="text-primary" type="button" onclick="recommendComment(\'' + comment.id + '\')">댓글추천</button>';
                    }

                    if (commentId===sessionId){
                        html += '<button class="text-primary" type="button" onclick="deleteComment(\'' + comment.id + '\')">삭제</button>';
                    }

                    html += '</li>';

                    commentList.append(html);
                }
                $('#comment').val('');

            },
            error: function () {
                alert("댓글 작성에 실패했습니다.");
            }
        });
    }

    // 댓글 삭제
    function deleteComment(id){

        if(confirm("해당 게시글을 삭제하시겠습니까?")){
            // 예
            $.ajax({
                type : 'DELETE',
                url : '/comments/deletion/'+id,
                contentType : 'application/json; charset=utf-8',
                dataType : 'json'
            }).done(function(result) {

                if(result == 0){
                    alert("게시글 삭제를 실패했습니다.")
                }
                else{
                    alert("게시글 삭제를 완료했습니다.");
                }
                location.reload();

            }).fail(function(error) {
                let message = JSON.parse(error.responseText);
            });

        }

    }

    // 게시글 추천/비추천
    function recommendBoard(){

        let boardId = $("#boardid").val();
        let sessionId = String([[${session.user?.id}]]);

        $.ajax({
            type : 'POST',
            url : '/boards/boardLike',
            data: JSON.stringify({
                boardid : boardId,
                memberid : sessionId
            }),
            contentType : 'application/json; charset=utf-8',
            dataType : 'json'
        }).done(function(result) {

            if(result == 0){
                alert("게시글 추천을 실패했습니다.")
            }
            else{
                alert("게시글 추천/삭제 완료했습니다.");
            }
            location.reload();

        }).fail(function(error) {
            let message = JSON.parse(error.responseText);
        });

    }

    function recommendComment(commentId){
        alert("댓글 추천");

        let sessionId = String([[${session.user?.id}]]);
        alert(commentId);
        alert(sessionId);

        $.ajax({
            type : 'POST',
            url : '/comments/commentLike',
            data: JSON.stringify({
                commentid : commentId,
                memberid : sessionId
            }),
            contentType : 'application/json; charset=utf-8',
            dataType : 'json'
        }).done(function(result) {

            if(result == 0){
                alert("댓글 추천을 실패했습니다.")
            }
            else{
                alert("댓글 추천/삭제 완료했습니다.");
            }
            location.reload();

        }).fail(function(error) {
            let message = JSON.parse(error.responseText);
        });
    }

</script>