<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment"></head>
<body id="page-top">

<!-- Navigation-->
<th:block th:replace="fragments/menu"></th:block>

<!-- Page Content-->
<div class="container-fluid p-0">

    <!-- 파트리지시스템즈 토이 프로젝트 게시판 -->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <!-- 토이 프로젝트 게시판 -->
            <h3 class="mb-5">파트리지시스템즈 토이 프로젝트 게시판</h3>

            <!-- 게시판 정렬 -->
            <div class="mb-5"><h3>정렬 조건</h3>
                <div>
                    <select id="sortTypeId" name="sortType">
                        <option value="latest" selected th:selected="${#request.getParameter('sortType') == 'latest'}">최신순</option>
                        <option value="visiter" th:selected="${#request.getParameter('sortType') == 'visiter'}">방문자순</option>
                        <option value="likeBoard" th:selected="${#request.getParameter('sortType') == 'likeBoard'}">게시글 추천순</option>
                        <option value="likeComment" th:selected="${#request.getParameter('sortType') == 'likeComment'}">댓글 추천순</option>
                        <option value="visiterAndLikeBoard" th:selected="${#request.getParameter('sortType') == 'visiterAndLikeBoard'}">방문자수+게시글 추천수순</option>
                        <option value="likeBoardAndLikeComment" th:selected="${#request.getParameter('sortType') == 'likeBoardAndLikeComment'}">게시글 추천수+댓글 추천수순</option>
                    </select>
                </div>
            </div>

            <!-- 게시글 수정 페이지 post 방식 이동을 위한 폼태그-->
            <form action="" name="gotopage" method="post">

                <input type="hidden" id="boardnoid" name="boardno" value=""/>

                <th:block th:each="boards : ${boards}">

                    <th:block th:if="${!#strings.equals(boards.state, 'T')}">
                        <div class="d-flex flex-column flex-md-row justify-content-between" th:onclick="'javascript:location.href=\'/boards/' + ${boards.id} + '\' '">
                            <!-- 게시물 정보 -->
                            <div class="flex-grow-1">
                                <h4 th:text="'제목 : ' + ${boards.title}" class="mb-0"></h4>
                                <!--<div th:text="'내용 : ' + ${boards.content}" class="subheading mb-3"></div>-->

                            </div>
                            <!-- 게시일자 -->
                            <div class="flex-shrink-0">
                                <div>
                                    <p th:text="'조회수 : ' + ${boards.visit}"></p>
                                    <p th:text="'추천수 : ' + ${boards.likes}"></p>
                                </div>
                                <span th:text="${#temporals.format(boards.createdDate, 'yyyy-MM-dd HH:mm')}" class="text-primary"></span>
                                <div>
                                    <button th:if="${#strings.equals(boards.memberid,session.user?.id)}" class="text-primary" type="button" th:onclick="deleteBoard([[${boards.id}]])">삭제</button>
                                </div>
                            </div>

                        </div><!-- end of div -->
                        <div class="d-flex flex-column flex-md-row justify-content-between" th:onclick="addFriend([[${boards.memberid}]])">
                            <p th:text="'작성자 : ' + ${boards.name}"></p>
                        </div>
                        <hr/>
                    </th:block>

                </th:block>
            </form>

            <!-- 하단 글작성 버튼 -->
            <div class="d-flex flex-column flex-md-row justify-content-between" th:if="${session.user != null}">
                <div class="flex-grow-1">
                </div>
                <div class="flex-shrink-0">
                    <button class="text-primary" type="button" th:onclick="|location.href='@{/boards/post}'|">게시글 작성하기</button>
                </div>
            </div>
        </div>

    </section>

    <!-- Paging -->
    <th:block th:replace="paging/page :: pageFragment"></th:block>


</div>


<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"></th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">

    $(document).ready(function() {

        // 게시판 정렬 파라미터 전송
        $('#sortTypeId').on('change', function() {
            location.href="/boards?sortType=" + $(this).val();
        });

        // url에 따른 메뉴 탭 active 효과 적용
        let url = window.location.href;

        let menuTapId = "";

        if (url.indexOf("/mbtiBoards") != -1) {
            menuTapId = "mbtiBoards";
        } else if (url.indexOf("/mbtiTest") != -1) {
            menuTapId = "mbtiTest";
        } else if (url.indexOf("/loginJoin") != -1) {
            menuTapId = "loginJoin";
        } else if (url.indexOf("/usedSkills") != -1) {
            menuTapId = "usedSkills";
        } else if (url.indexOf("/mypage") != -1){
            menuTapId = "mypage";
        }


    });

    // form 태그
    let form = document.gotopage;

    // 게시글 삭제
    function deleteBoard(id){

        if(confirm("해당 게시글을 삭제하시겠습니까?")){
            // 예
            $.ajax({
                type : 'DELETE',
                url : '/boards/deletion/'+id,
                contentType : 'application/json; charset=utf-8',
                dataType : 'json'
            }).done(function(result) {

                if(result == 0){
                    alert("게시글 삭제를 실패했습니다.")
                }
                else{
                    alert("게시글 삭제를 완료했습니다.");
                }
                location.reload();

            }).fail(function(error) {
                let message = JSON.parse(error.responseText);
            });

        }

    }


    function addFriend(id){
        // 현재 로그인한 유저 세션
        let sessionId = String([[${session.user?.id}]]);

        // 로그인한 경우,
        if(sessionId){
            // 로그인한 유저와 친구 요청을 할 유저가 동일한 경우,
            if(sessionId===String(id)){
                alert("자기 자신에게 친구 요청을 할 수 없습니다.");
            }else{
                // 친구 요청 보내기 로직
                alert("친구 요청 보내기");

                $.ajax({
                    type : 'POST',
                    url : '/friends/request',
                    data : JSON.stringify({
                        senderId : sessionId,
                        receiverId : id
                    }),
                    contentType : 'application/json; charset=utf-8',
                    dataType : 'json',
                    success: function(response) {
                        alert(response);
                    },
                    error: function(error) {
                        let message = JSON.parse(error.responseText);
                    }
                });

            }
        }
        // 로그인하지 않은 경우,
        else{
            alert("로그인한 후에 친구 요청이 가능합니다.");
        }


        // 이미 추가 요청된 경우 -> 알림

        // 친구 요청이 와있는 유저인 경우->친구 관계 성립

    }



</script>