<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment"></head>
<body id="page-top">
<!-- Navigation-->
<th:block th:replace="fragments/menu"></th:block>

<!-- Page Content-->
<div class="container-fluid p-0">


    <!-- 메인 index.html -->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">파트리지시스템즈 게시판 토이 프로젝트</h2>
            <div class="subheading mb-3">김정민</div>
        </div>
    </section>
    <hr class="m-0" />

</div>
<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"><</th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">
    

</script>